In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import sklearn

sys.path.append('..')

In [3]:
os.chdir('/Users/sparshpatel/bootcamp_sparsh_patel')
print(os.getcwd())

/Users/sparshpatel/bootcamp_sparsh_patel

In [15]:
df = pd.read_csv('/Users/sparshpatel/bootcamp_sparsh_patel/project/data/processed/filtered_rounded_nse.csv')

In [17]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [18]:
df

,Date,RELIANCE,TCS,HDFCBANK,ICICIBANK,BHARTIARTL,SBIN,INFY,LICI,ITC,...,COOLCAPS,ALLETEC,20MICRONS,VIKASECO,ORIENTBELL,DONEAR,CAREERP,INTLCONV,SHREEPUSHK,PRITIKAUTO
0,2010-01-04,491.68,375.83,170.57,159.95,293.09,229.12,326.58,NaN,84.55,...,NaN,NaN,23.77,NaN,50.20,31.50,NaN,NaN,NaN,NaN
1,2010-01-05,489.49,375.92,170.72,161.46,297.73,229.21,327.67,NaN,85.38,...,NaN,NaN,23.40,NaN,50.55,30.60,NaN,NaN,NaN,NaN
2,2010-01-06,497.40,367.42,170.84,162.70,294.58,230.58,322.89,NaN,85.58,...,NaN,NaN,23.20,NaN,51.40,31.20,NaN,NaN,NaN,NaN
3,2010-01-07,505.65,357.20,171.28,161.16,296.87,229.29,315.63,NaN,85.32,...,NaN,NaN,23.20,NaN,50.65,30.70,NaN,NaN,NaN,NaN
4,2010-01-08,504.32,349.90,171.51,158.90,292.95,228.60,308.02,NaN,85.50,...,NaN,NaN,24.48,NaN,50.60,32.05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2024-07-01,3120.30,3978.20,1705.20,1211.85,1454.00,841.95,1590.80,996.35,429.05,...,NaN,NaN,220.41,3.90,402.80,134.96,384.85,82.78,211.09,27.44
3579,2024-07-02,3130.35,4017.40,1730.60,1190.60,1418.95,826.15,1621.05,985.45,425.50,...,NaN,NaN,216.11,3.87,409.80,130.73,396.70,83.35,211.74,27.77
3580,2024-07-03,3104.85,3965.25,1768.65,1201.60,1419.85,839.95,1627.40,988.20,428.30,...,NaN,NaN,227.80,3.87,429.35,132.22,394.20,83.27,225.88,27.70
3581,2024-07-04,3108.05,4020.95,1727.15,1233.00,1423.05,839.30,1650.65,1010.20,429.05,...,NaN,NaN,227.43,4.04,428.75,131.36,388.25,82.98,223.80,27.58
3582,2024-07-05,3177.25,4011.80,1648.10,1233.40,1429.70,859.75,1647.45,1015.65,433.65,...,NaN,NaN,224.72,3.98,421.35,130.44,388.80,84.10,241.74,27.91

### Tried log returns but faced a problem because:
The df values are integers rounded to 2 decimals, and some stocks hardly move day-to-day (small % changes can get lost).

In [28]:
df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d")

In [29]:
df.dtypes

Date          datetime64[ns]
RELIANCE             float64
TCS                  float64
HDFCBANK             float64
ICICIBANK            float64
                   ...
DONEAR               float64
CAREERP              float64
INTLCONV             float64
SHREEPUSHK           float64
PRITIKAUTO           float64
Length: 1418, dtype: object

In [30]:
import pandas as pd

# Assume df has Date as first column
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Convert all other columns to numeric
df = df.apply(pd.to_numeric, errors='coerce')

# Percent daily change
pct_change = df.pct_change().dropna()

# Daily correlation matrix
corr = pct_change.corr()

# Max Drawdown example
cummax = df.cummax()
drawdown = (df - cummax) / cummax
max_dd = drawdown.min()

print(corr.head())
print(max_dd.head())

            RELIANCE  TCS  HDFCBANK  ICICIBANK  BHARTIARTL  SBIN  INFY  LICI  \
RELIANCE         NaN  NaN       NaN        NaN         NaN   NaN   NaN   NaN
TCS              NaN  NaN       NaN        NaN         NaN   NaN   NaN   NaN
HDFCBANK         NaN  NaN       NaN        NaN         NaN   NaN   NaN   NaN
ICICIBANK        NaN  NaN       NaN        NaN         NaN   NaN   NaN   NaN
BHARTIARTL       NaN  NaN       NaN        NaN         NaN   NaN   NaN   NaN

            ITC  HINDUNILVR  ...  COOLCAPS  ALLETEC  20MICRONS  VIKASECO  \
RELIANCE    NaN         NaN  ...       NaN      NaN        NaN       NaN
TCS         NaN         NaN  ...       NaN      NaN        NaN       NaN
HDFCBANK    NaN         NaN  ...       NaN      NaN        NaN       NaN
ICICIBANK   NaN         NaN  ...       NaN      NaN        NaN       NaN
BHARTIARTL  NaN         NaN  ...       NaN      NaN        NaN       NaN

            ORIENTBELL  DONEAR  CAREERP  INTLCONV  SHREEPUSHK  PRITIKAUTO
RELIANCE           NaN     NaN      NaN       NaN         NaN         NaN
TCS                NaN     NaN      NaN       NaN         NaN         NaN
HDFCBANK           NaN     NaN      NaN       NaN         NaN         NaN
ICICIBANK          NaN     NaN      NaN       NaN         NaN         NaN
BHARTIARTL         NaN     NaN      NaN       NaN         NaN         NaN

[5 rows x 1417 columns]
RELIANCE     -0.450881
TCS          -0.281657
HDFCBANK     -0.410550
ICICIBANK    -0.523515
BHARTIARTL   -0.474692
dtype: float64

/var/folders/qz/0dlc8y692_34_5qr067vqw540000gn/T/ipykernel_53980/3278437447.py:11: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  pct_change = df.pct_change().dropna()